<!DOCTYPE html>
<!--添加thymeleaf-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
<script>
    //alert("hello index！！");

</script>
<p></p>
<a href="person-index">
    查找人员
</a>
<p></p>
<!--这种超链接方式只能使用get模式提交-->
<a href="persons">
    显示所有人员
</a>
<p></p>
<a href="accounts">
    显示所有账户信息。
</a>
<p></p>
<a href="PersonAccount" >
    显示所有人员及账户信息。
</a>
<p></p>
<a th:href="@{https://www.e-learn.cn/thymeleaf/}">thymeleaf</a>
<form>

</form>
</body>
</html>